.SidebarOption {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  color: #444746;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.SidebarOption:hover,
.SidebarOption:hover > p,
.SidebarOption:hover > h3 {
  background-color: rgb(245, 245, 245);
  color: black;
  font-weight: 700 !important;
}

.SidebarOption > .Icon {
  padding: 5px !important;
}

.SidebarOption > h3 {
  flex: 1;
  margin-left: 15px;
  font-size: 14px;
  font-weight: 500;
}

.sidebarOption_active {
  background-color: #d3e3fd;
}
