.EmailList {
  flex: 1;
  overflow-y: scroll;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 75px;
  padding-bottom: 10px;
}

.settings {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
  padding-right: 10px;
}

.left svg {
  font-size: 20px !important;
}

.left_arrowDropIcon {
  position: relative;
  right: 15px;
}

.right svg {
  font-size: 20px !important;
}

.right_arrowDropIcon {
  position: relative;
  right: 15px;
}

.sections {
  display: flex;
  position: sticky;
  top: 0;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
}
