.pencil_icon {
  margin: 15px 0 15px 10px !important;
  background-color: #c2e7ff !important;
  color: black !important;
  padding: 18px !important;
  border-radius: 20px !important;
}

.pencil_icon:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
