.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.container img {
  height: 120px;
  width: 240px;
  mix-blend-mode: color-burn;
}
